body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(161, 172, 11) ;
    color: white;
}

.content {
    background-color: rgb(34, 32, 32);
}
.adress {
    padding:30px;
    font-size: 1.2em;
}

.competences div {
    margin: 8px 6px 4px 3px;
    padding: 10px 10px 10px;
}

.competences div > span {
    font-weight: 800;
}

.col-left-border {
    border: 1px solid white;
    border-left: none;
    border-right:none;
    padding: 20px 20px 0;
}
.col-right-border {
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 0;
}

.bidul {
    padding: 20px 20px 0;

}

.essai {
    height: 550px;

}

body ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

body ::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

body ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(161, 172, 11);
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}


h2 {
    color:rgb(161, 172, 11);
}

.a {
    color: gray;
}

.icon  {
    font-size: 90px;
    background-color: rgb(34, 32, 32);
}

.bg-info1, .bg-info2, .bg-info3 {
    display: none;
}

.tel, .mail, .print  {
    font-size: 30px;
    color: gray;
}

.sub:hover {
    background-color:rgb(161, 172, 11);
}
.pres {
    margin: 8px 6px 4px 3px;
    padding: 10px 10px 10px;
}

#img{
    border-radius:17%;
    padding: 30px;
    width: 300px;
    height: 360px;
    transform: ;
}

.content .row:last-child .col-border {
    border-top: 0;
}

@media (max-width: 767px) {
    .content .row:last-child .col-border {
        border-top: 0;
    }

    .content .col-border {
        border-left: 0;
        border-right: 0;
    }
}
